.container
  position: absolute
  z-index: 10
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: flex-start
  pointer-events: none

.alerts
  width: 50%
  height: 100%
